.footer-icons{
width: 60px;
height: 60px;
margin-left: 10px;
margin-right: 10px;

}

.footer-icons:hover{
   cursor: pointer;
    
}

.footer-link{
    padding-left: 10px;
    color: #111;
    visibility: visible;

}

.mb-4{
   visibility: visible;
}
.footer-text{
    visibility: visible;
}

.text-center.text-dark{
 visibility: hidden;

}
.h80{
    height:80%;
    min-height:80%;
}
.h20{
    min-height:20%;
    max-height:20%;
}