.footer-icons{
width: 60px;
height: 60px;
margin-left: 10px;
margin-right: 10px;

}

.footer-icons:hover{
   cursor: pointer;
    
}

.footer-link{
    padding-left: 10px;
    color: #111;
    visibility: visible;

}

.mb-4{
   visibility: visible;
}
.footer-text{
    visibility: visible;
}

.text-center.text-dark{
 visibility: hidden;

}
.h80{
    height:80%;
    min-height:80%;
}
.h20{
    min-height:20%;
    max-height:20%;
}

.search-input{
margin-left: 30px;
margin-top:10px

}
.radio-button-search{
margin-left: 20px;


}

.search-box{
    background-color: purple;
    width: 100%;
    height:50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-button{
    width: 80px;
    height: 28px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #ba3282;
    line-height: 0px;
}
